/*****************************************
*	Style - forms.css
*	Auteur 		: Dakin Quelia
*	Version 	: 1.0.0. 
*****************************************/
.kotor {
    border: 1.5px solid #2f7763;
    background-color: #09241d;
    color: #1fae83;
}

.form {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.button-icon {
    cursor: pointer;
    margin-left: 10px;
}

.button-icon:hover {
    color: #3794ff; 
}

.button-icon.disabled {
    pointer-events: none;
}

.form input,
.form select {
    height: 31.6px;
}

/**
*   Fiche du personnage
**/
.game-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sheet-infos {
    display: block;
}

.sheet-infos h1 {
    text-align: center;
}

.sheet-infos p {
    margin: 20px 5px 40px 5px;
    text-align: justify;
}

.sheet-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.sheet-row.error .sheet {
    background-color: #fdf2f2;
    border: solid 1px #9b1c1c;
}

.sheet-row.error .sheet-header {
    background-color: #fdf2f2;
    border-bottom: solid 1px #9b1c1c;
    margin-bottom: 0px;
}

.sheet-row.error .sheet-header,
.sheet-row.error .sheet-content {
    color: #9b1c1c;
}

.sheet {
    user-select: none;
    background-color: #f9f9f9;
    border: 1.5px solid #CCCCCC;
    border-radius: 4px;
    width: 350px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.sheet.large {
    width: 500px;
}

.sheet.full {
    width: 100%;
}

.sheet.full .sheet-content .sub-category {
    justify-content: initial;
}

.sheet.full .sheet-content .sub-category span {
    width: 50%;
}

.sheet-header {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    color: #000000;
    border-bottom: solid 1px #ccc;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 10px;   
}

.sheet-header.center {
    justify-content: center;
}

.sheet-header .points {
    color: #3794ff;
}

.sheet-content {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    line-height: normal;
}

.sheet-content p:first-of-type {
    margin-top: -5px;
}

.sheet-content p {
    text-align: justify;
    font-size: 0.95em;
    padding: 0 5px;
}

.sheet-content .sub-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sheet-content .sub-category span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sheet-content .sub-category span:first-of-type {
    width: 85%;
    margin-right: 10px;
}

.sheet-content .sub-category .category-name {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sheet-content .sub-category .modifier {
    --modifier-color: #000000;
    /*margin-left: 130px;*/
    font-weight: bold;
    color: var(--modifier-color);
}

.sheet-content .sub-category input[type="text"],
.sheet-content .sub-category input[type="number"] {
    margin-left: 10px;
    border: 1px solid #CCCCCC;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #fff;
}

.sheet-content .sub-category select {
    width: 250px;
    margin-left: 10px;
    border: 1px solid #CCCCCC;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #fff;
}

.sheet-content .sub-category input[type="text"] {
    width: 250px;
}

.sheet-content .sub-category input[type="number"] {
    width: 80px;
    text-align: center;
}

.sheet-content .sub-category input[type="text"]:focus,
.sheet-content .sub-category input[type="number"]:focus {
    border-color: #000000;
    outline: none;
}

.sheet-buttons {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    margin-top: 20px;
    justify-content: space-between;
}

.sheet-buttons button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    height: 30px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sheet-buttons button:disabled {
    background-color: #9b0000;
    border: 1px solid #9b0000;
    color: #f8afaf;
}

.large-box {
    background-color: #fff;
    border: 1.5px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.large-box-header {
    background-color: #eeefef;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

.large-box-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.large-box-content textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 4px;
    resize: vertical;
}

/** 
*   Infobulles / Tooltip 
**/
.help {
    cursor: pointer;
}

.help:hover {
    color: #3794ff; 
}